CorruptKing 7 3 9 A
AngryDragon 2 8 9 9
WindBird 7 2 5 3
HeroKnight A 2 4 4
WorldDragon 8 3 5 7
SkyWhale 4 5 9 9
MightyTiger 5 8 A 6
ShadowWolf 9 6 4 3
GoldenPhoenix 3 A 2 7
IronGolem 4 4 6 8
SteelHawk 6 7 5 3
OceanSerpent 5 3 7 A
ThunderLion 8 5 2 6
StoneGiant A 7 4 2
BlazeFox 3 6 8 7
CrystalBear 9 5 3 6
NightOwl 2 7 A 4
FlamePanther 7 8 6 3
JadeScorpion 6 2 9 5
MysticEagle 5 A 4 2
LavaBeast 8 3 6 9
DarkBasilisk A 4 5 8
SilverPuma 4 9 7 2
PhantomRaven 6 6 3 7
ForestLynx 2 5 8 A
StormFalcon 3 7 A 5
EarthDrake 9 2 4 6
BloodHound 4 6 5 A
FrostSnake 8 A 7 3
LightningTiger 5 4 9 6
IceLeopard 7 3 6 8
SonicFox 9 8 5 2
SunHawk 6 2 4 9
MoonStag 4 A 3 7
BronzeSpider 5 9 7 4
RubyTiger 8 5 A 6
